@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");

html,
body {
  height: 100%;
  width: 80%;
  font-size: 16px;
}

.text-shadow {
  text-shadow: #c0392b 3px 1px 5px;
}

body {
  position: relative;
  margin: 0;
  background-color: #2e4c6d;
  color: white;
  font-family: "Zen Kurenaido", sans-serif;
}

main {
  display: flex;
  text-align: center;
  padding-left: 50%;
  flex-direction: column;
}

h1 {
  font-size: 3em;
}

p {
  font-family: "Satisfy", cursive;
  color: blue;
  background: lightblue;
  height: 100px;
  margin-top: 5%;
  padding-top: 10%;
  border: dashed;
  border-color: aliceblue;
  text-align: center;
}
.bouton1 {
  font-family: "Satisfy", cursive;
  background-color: rgb(45, 31, 124);
  color: yellow;
  margin-left: 30%;
  height: 50px;
  width: 200px;
}
.count {
  font-size: 150px;
}
