@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-size: 16px;
}

.text-shadow {
  text-shadow: rgb(206, 81, 223) 5px 5px 10px;
}

body {
  position: relative;
  /* background: linear-gradient(to right bottom, orange, red); */
  background-image: url("./cerisier.jpg");
  background-size: cover;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

main {
  display: flex;
  text-align: center;
  flex-direction: column;
}

h1 {
  font-size: 2em;
  color: rgb(234, 238, 14);
}
.bigbox {
  background-color: rgba(117, 190, 218, 0.5);
  border: dashed;
  border-color: aliceblue;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}
.paragraphe1 {
  font-family: "Source Sans Pro", sans-serif;
  color: blue;
  background: lightblue;
  width: 50%;
  height: 50px;
  margin-top: 5%;
  padding-top: 1%;
  margin-left: 25%;
  border: dashed;
  border-color: aliceblue;
  text-align: center;
}
.paragraphe2 {
  font-family: "Satisfy", cursive;
  color: white;
  background-color: rgba(243, 201, 245, 0.5);
  width: 50%;
  height: 100px;
  margin-top: 5%;
  padding-top: 1%;
  margin-left: 25%;
  border: none;
  border-color: aliceblue;
  text-align: center;
}
.bouton1 {
  font-family: "Satisfy", cursive;
  background-color: rgba(236, 241, 245, 0.75);
  font-size: large;
  color: lightpink;
  height: 50px;
  width: 200px;
}
